<!DOCTYPE html>
<html ng-app="events">
    <head>
        <title>Music Venue - Events</title>
        <meta name="viewport" content="width-device-width, initial-scale=.3">

        <!-- CSS files -->
        <link rel="stylesheet" type="text/css" href="css/general.css"/>
            <!--Custom Style-->
            <link rel="stylesheet" type="text/css" href="css/settings.css"/>
            <!-- CSS from libraries -->
            <link href ="../res/lib/css/bootstrap.min.css" rel ="stylesheet">
        <link href ="css/event-styles.css" rel ="stylesheet">
        <link href ="css/mvenue-nav-bar-style.css" rel ="stylesheet">
        <link href ="css/musicvenue-styles.css" rel ="stylesheet">
        
        <!-- Libraries -->
        <script type="text/javascript" src="../res/lib/jquery.min.js"></script>
        <script type="text/javascript" src="../res/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="../res/lib/angular.min.js"></script>
        <!-- Page logic -->
        <script type="text/javascript"  src="../controllers/event-logic.js"></script>

    </head>
    <body >


<!-- NavBar start....................................................................................................-->


<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="tradespace.html">Tradespace</a>
                </li>
                <li>
                    <a href="#">
                        <input type="email" placeholder="Search">
                    </a>

                </li>
                <li>
                    <a href="#">
                        <button type="button" class="btn btn-sm btn-general">Search</button>
                    </a>
                </li>
                <li><a href="homepage.html"><span class="app-name-style">MusicVenue</span></a>
                </li>
                <li><a href="event.html">Events</a>
                </li>
                <li><a href="group_page.html">Groups</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nina Belafonte<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="profile_page.html">Profile</a>
                        </li>
                        <li><a href="settings.html">Settings</a>
                        </li>
                        <li><a href="#">Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<!-- End of Nav Bar -->

<!-- NavBar end.....................................................................................................-->


        <div class="container" style="padding-top: 10px;">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active">
                    <a href="#administrate" role="tab" data-toggle="tab">
                        <i class="fa fa-gear"></i> Administrate
                    </a>
                </li>
                <li><a href="#going" role="tab" data-toggle="tab">
                    <i class="fa fa-users"></i> Going
                    </a>
                </li>
                <li>
                    <a href="#other_events" role="tab" data-toggle="tab">
                    <i class="fa fa-calendar"></i> Other Events
                    </a>
                </li>
            </ul>



             <!--<table  ng-controller="myController">
                <tr ng-repeat="data in events">
                    <td>{{data.event_id}}</td>
                    <td>&nbsp;{{data.name}}</td>
                </tr>
            </table>-->





<!--administrate start ..............................................................................................-->

            <!-- Tab panes -->
            <div class="tab-content"  ng-controller="myController" >
                    <div class="tab-pane fade active in" id="administrate"  style="padding-left: 30px;">
<!--administrate start pane-->

                    <div id="administrate_pane" >
                        <div class="grid ">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h3><i class="fa fa-gears"></i> Manage Your Events</h3>
                                    <a href="#" class=" btn btn-general"  id="createEvent"><i class="fa fa-plus"></i> Create Event</a>
                                </div>
                                <!--<div class="col-sm-2">--><!--</div>-->
                            </div>
                        </div><!--end header of the pane-->

    <!--start adm list--><div class="event-container" ng-repeat="data in events">
                            <div class="row">
                                <div class="col-md-7">
                                    <a href="#">
                                        <img class="img-responsive" src="http://www.wallpusher.com/blog/wp-content/uploads/2010/05/Guitar-Photoshoot-3-700x300.jpg" alt="">
                                    </a>
                                </div>
                                <div class="col-md-5">
                                    <h3>{{data.name}}</h3>
                                    <h4>{{data.date}}</h4>
                                    <h4>{{data.location}}</h4>
                                    <h4>{{Subheading}}</h4>
                                    <p>{{data.description}}</p>
                                    <a class="btn btn-general editEventBtn" href="#"><i class="fa fa-pencil"></i> Edit Event </a>
                                    <a class="btn btn-general" id="deleteEvent" href="#"><i class="fa fa-trash-o"></i> Delete Event </a>

                                </div>
                            </div>

                        </div>
    <!--end adm list--></div>



<!--administrate end pane-->
                    </div>



<!--administrate end .................................................................................................-->



<!--going start ..............................................................................................-->

                    <div class="tab-pane fade" id="going" >
<!--going header start -->

                    <div class="grid">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h3>     <i class="fa fa-users"></i>  Going</h3>
                                </div>
                            </div>
                        </div>
<!--going header end-->





            <div class="event-container" ng-repeat="data in events">
                <div class="row">
                    <div class="col-md-7">
                        <a href="#">
                            <img class="img-responsive" src="http://www.wallpusher.com/blog/wp-content/uploads/2010/05/Guitar-Photoshoot-3-700x300.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-md-5">
                        <h3>{{data.name}}</h3>
                        <h4>{{data.date_time}}</h4>
                        <h4>{{data.location}}</h4>
                        <h4>{{Subheading}}</h4>
                        <p>{{data.description}}</p>
                        <a class="btn btn-general" href="#"><i class="fa fa-calendar-times-o"></i>  Not Going</a>
                    </div>
                </div>
            </div>
            <br/>

<!--going end-->
                    </div>
<!--going end ..............................................................................................-->


<!--other start ..............................................................................................-->

                    <div class="tab-pane fade" id="other_events">


<!--going header start -->

                    <div class="grid">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h3> <i class="fa fa-calendar-o"></i>  Other Events</h3>
                                </div>
                            </div>
                  </div>
<!--going header end-->


                        <div class="event-container" ng-repeat="data in events">
                            <div class="row">
                                <div class="col-md-7">
                                    <a href="#">
                                        <img class="img-responsive" src="http://www.wallpusher.com/blog/wp-content/uploads/2010/05/Guitar-Photoshoot-3-700x300.jpg" alt="">
                                    </a>
                                </div>
                                <div class="col-md-5">
                                    <h3>{{data.name}}</h3>
                                    <h4>{{data.date_time}}</h4>
                                    <h4>{{data.location}}</h4>
                                    <h4>{{Subheading}}</h4>
                                    <p>{{data.description}}</p>
                                    <a class="btn btn-general" href="#"><i class="fa fa-calendar-check-o"></i> Going</a>

                                </div>
                            </div>
                        </div>


                    </div>

<!--other end ..............................................................................................-->

            </div>

        </div>

        <!-- Script for loading JSON data -->
        <script>
            var eventsModule = angular.module('events', []);
            eventsModule.controller('myController', function($scope, $http){
                $http.get('../data/event.json').success(function(response){
                    $scope.events = response.events;
                });
            });
        </script>
    </body>
</html>