<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="utf-8">         
        <meta http-equiv="X-UA-Compatible" content="IE=edge">         
        <meta name="viewport" content="width=device-width, initial-scale=1.0">         
        <meta name="description" content="">         
        <meta name="author" content="">         
        <title>MusicVenue - Group Page</title>         
        <!-- CSS files -->         
        <!-- Libraries -->
        <link href="../res/lib/css/bootstrap.min.css" rel="stylesheet">         
        <!-- MusicVenue related -->
        <link rel="stylesheet" type="text/css" href="css/musicvenue-styles.css" /> 
        <link rel="stylesheet" type="text/css" href="css/group-profile-styles.css">         
    </head>     
    <body> 
        <!-- NavBar start....................................................................................................-->
        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="tradespace.html">Tradespace</a>
                        </li>
                        <li>
                            <a href="#">
                                <input type="email" placeholder="Search">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <button type="button" class="btn btn-sm btn-general">Search</button>
                            </a>
                        </li>
                        <li>
                            <a href="homepage.html"><span class="app-name-style">MusicVenue</span></a>
                        </li>
                        <li>
                            <a href="event.html">Events</a>
                        </li>
                        <li>
                            <a href="group_page.html">Groups</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nina Belafonte<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="profile_page.html">Profile</a>
                                </li>
                                <li>
                                    <a href="settings.html">Settings</a>
                                </li>
                                <li>
                                    <a href="#">Log Out</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
        <!-- End of Nav Bar -->
        <!-- NavBar end.....................................................................................................-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 no-col-padding">
                    <img src="../res/img/photo/music-notes.jpg" height="300" class="" width="80%" style="margin-left:10%" /> 
                </div>
            </div>
            <div class="row">
                <div class="group-name-box">
                    <h3 class="group-title">The Followers</h3>
                </div>
            </div>             
            <div class="row"> 
                <div class="col-md-6" id="leftPanel">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <h3><span>25</span> Members</h3>
                                </div>
                                <div class="row">
                                    <div class="group-members-box">
                                        <div class="row tag-list"> 
                                            <ul class="list-unstyled" style="margin-top:7px; margin-left:0px;"> 
                                                <li> 
                                                    <div class="tag-style" ng-repeat="tag in ann.tags">{{tag}}</div>                                                     
                                                </li>
                                                <li> 
                                                    <div class="tag-style" ng-repeat="tag in ann.tags">{{tag}}</div>                                                     
                                                </li>
                                                <li> 
                                                    <div class="tag-style" ng-repeat="tag in ann.tags">{{tag}}</div>                                                     
                                                </li>
                                                <li> 
                                                    <div class="tag-style" ng-repeat="tag in ann.tags">{{tag}}</div>                                                     
                                                </li>
                                                <li> 
                                                    <div class="tag-style" ng-repeat="tag in ann.tags">{{tag}}</div>                                                     
                                                </li>
                                                <li> 
                                                    <div class="tag-style" ng-repeat="tag in ann.tags">{{tag}}</div>                                                     
                                                </li>
                                            </ul>                                             
                                        </div>
                                    </div>
                                </div>                                 
                            </div>
                        </div>
                        <div class="row pg-empty-placeholder"></div>
                    </div>                     
                </div>
                <div class="col-md-6" id="rightPanel"> 
</div>                 
            </div>             
        </div>         
        <!-- Placed at the end of the document so the pages load faster -->         
        <script src="../controllers/grouppage-logic.js"></script>         
        <!-- Libraries -->         
        <script type="text/javascript" src="../res/lib/jquery.min.js"></script>         
        <script type="text/javascript" src="../res/lib/bootstrap.min.js"></script>         
        <script type="text/javascript" src="../res/lib/angular.min.js"></script>         
        <!-- Plug-ins -->         
        <script type="text/javascript" src="../res/lib/masonry.pkgd.min.js"></script>         
        <script type="text/javascript" src="../res/lib/audio.min.js"></script>         
        <!-- AngularJS related -->         
        <script type="text/javascript" src="../controllers/app.js"></script>         
    </body>     
</html>
