/*Fonts*/

@font-face{
    font-family: 'Damion';
    src: url(fonts/Damion-Regular.ttf) format('truetype');
}


/*----Navigation bar customization----*/

.navbar-wrapper
{
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    position: relative;
    text-align: center;
}

/* Flip around the padding for proper display in narrow viewports */

.navbar-wrapper .container
{
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    width: 100%;
}

.navbar-wrapper .navbar
{
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    float: left;
}

.app-name-style
{
    font-family: 'Damion';
}

@media (min-width:768px)
{
    .inline-div-fix
    {
        margin: 0 auto;
    }
}

