body {
	font-family:Open Sans, Damion;
}
.app-name-style
{
    font-family: Damion;
    color: #ffffff;
    font-size: 30px;
    margin-top: 50px;
}
@font-face{
    font-family: 'Open Sans';
    src: url(fonts/OpenSans-Regular.ttf) format('truetype');
}
@font-face{
    font-family: Damion;
    src: url(fonts/Damion-Regular.ttf) format('truetype');
}
