<!DOCTYPE html>
<html>
    <head>
        <title>MusicVenue - Tradespace</title>
        <meta content="text/html; charset=utf-8" http-equiv="content-type">
        <meta name="description" content="Freewall demo for pinterest-like layout" />
        <meta name="keywords" content="javascript, dynamic, grid, layout, jquery plugin, pinterest like layouts" />
        <!-- CSS files -->
        <!-- Necessary -->
        <link rel="stylesheet" type="text/css" href="../res/lib/css/bootstrap.min.css" />
        <!-- Upload Form plugin -->
        <link rel="stylesheet" type="text/css" href="css/upload-form-tradespace.css" />
        <!-- Tradespace relevant -->
        <link rel="stylesheet" type="text/css" href="css/musicvenue-styles.css" />
        <link rel="stylesheet" type="text/css" href="css/tradespace-styles.css" />
        <!-- Libraries -->
        <script type="text/javascript" src="../res/lib/jquery.min.js"></script>
        <script type="text/javascript" src="../res/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="../res/lib/angular.min.js"></script>
        <!-- Plug-ins -->
        <script type="text/javascript" src="../res/lib/masonry.pkgd.min.js"></script>
        <!-- AngularJS related -->
        <script type="text/javascript" src="../controllers/app.js"></script>
        <!-- Upload Form plugin -->
        <script src="../res/lib/upload_form/jquery.knob.js"></script>
        <script src="../res/lib/upload_form/jquery.ui.widget.js"></script>
        <script src="../res/lib/upload_form/jquery.iframe-transport.js"></script>
        <script src="../res/lib/upload_form/jquery.fileupload.js"></script>
        <script src="../res/lib/upload_form/upload-form.js"></script>



        <!--NavBar-->
        <link rel="stylesheet" type="text/css" href="css/settings.css"/>


        <button type="button" id="btnNewAnn" class="btn btn-default btnAddAnn-style" data-toggle="modal" data-target="#addAnnouncement">+</button>
    </head>
    <body ng-app="app" ng-controller="TradespaceController as trademain">

    <!-- NavBar start....................................................................................................-->


    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="tradespace.html">Tradespace</a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="email" placeholder="Search">
                        </a>

                    </li>
                    <li>
                        <a href="#">
                            <button type="button" class="btn btn-sm btn-general">Search</button>
                        </a>
                    </li>
                    <li><a href="homepage.html"><span class="app-name-style">MusicVenue</span></a>
                    </li>
                    <li><a href="event.html">Events</a>
                    </li>
                    <li><a href="group_page.html">Groups</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nina Belafonte<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="profile_page.html">Profile</a>
                            </li>
                            <li><a href="settings.html">Settings</a>
                            </li>
                            <li><a href="#">Log Out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <!-- End of Nav Bar -->

    <!-- NavBar end.....................................................................................................-->



<!--DONT DELETE is for the space between navbar and tradeposts -->
    <p style="opacity: 1">-</p>






        <div class="modal fade pg-show-modal" id="addAnnouncement" tabindex="-1" role="dialog" aria-hidden="true" >
            <div class="modal-dialog modalCustom"> 
                <div class="modal-content"> 
                    <div class="modal-header"> 
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>                         
                        <h4 class="modal-title">Add Announcement</h4> 
                    </div>                     
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <input type="text" class="form-control" placeholder="Announcment title" ng-model="trademain.newAnn.title">
                            </div>
                            <div class="row">
                                <textarea class="form-control" placeholder="Description of your announcement" ng-model="trademain.newAnn.trade_description" rows="5"></textarea>
                            </div>
                            <div class="row">
                                <div class="containter-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5>Upload images:</h5>
                                            <!-- Upload form plugin -->
                                            <form id="upload" method="post" action="../res/lib/upload_form/upload.php" enctype="multipart/form-data">
                                                <div id="drop">
                                                    Drop Here
                                                    <a>Browse</a>
                                                    <input type="file" name="upl" multiple />
                                                </div>
                                                <ul>
                                                    <!-- The file uploads will be shown here -->
                                                </ul>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group"> 
                                    <label class="control-label" for="formInput166">Phone number:</label>
                                    <input type="tel" class="form-control" id="formInput166" ng-model="trademain.newAnn.phone">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group"> 
                                    <label class="control-label" for="formInput166">Price:</label>
                                    <input type="number" class="form-control" id="formInput166" ng-model="trademain.newAnn.price">
                                </div>
                            </div>
                            <div class="row">
                                <label> 
                                    <input class="control-label" type="checkbox" value="" ng-model="trademain.newAnn.includeEmail">                                                                                                                                                                                                                                                                                                Include my e-mail.    
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Tags:</h4>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" placeholder="Tag name" ng-model="trademain.newAnn.singleTag">                                             
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn tag-button-style btn-info" ng-click="trademain.addTagNewAnn()">Add</button>                                             
                                        </div>
                                    </div>                                     
                                </div>
                            </div>
                            <div class="row">
                                <ul class="list-unstyled" style="margin-top:7px; margin-left:0px;"> 
                                    <li>
                                        <div class="tag-style" ng-repeat="tag in trademain.newAnn.tags">{{tag}}</div>
                                    </li>                                     
                                </ul>
                            </div>
                        </div>                         
                    </div>                     
                    <div class="modal-footer"> 
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>                         
                        <button type="button" class="btn btn-info" id="btnAddAnn" ng-click="trademain.addNewAnn()">Add</button>                         
                    </div>                     
                </div>                 
            </div>             
        </div>
        <div id='masonry' class="masonryWall">
            <div class="announcement semi" ng-repeat="ann in trademain.announcements">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <p class="annTitle">{{ann.title}}</p>
                            </div>                             
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="customWell">{{ann.trade_description}}</div>                             
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <h4><span style="font-size:10px">Seller:</span></h4>
                                <p class="sellerName">{{ann.seller_name}}</p>
                                <h4><span style="font-size:10px">{{ann.phone}}</span></h4>
                                <h4 ng-show="ann.email"><span style="font-size:10px">{{ann.email}}</span></h4>
                            </div>                             
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <p class="annPrice">${{ann.price}}</p>
                            </div>                             
                        </div>
                    </div>
                    <div class="row">
                        <hr style="background: #000000; margin:0px;" class="" />
                    </div>
                    <div class="row">
                        <ul class="list-unstyled" style="margin-top:7px; margin-left:0px;"> 
                            <li>
                                <div class="tag-style" ng-repeat="tag in ann.tags">{{tag}}</div>
                            </li>                             
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page functionality -->
        <script type="text/javascript" src="../controllers/tradespace.ctrl.js"></script>
    </body>
