<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="utf-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content=""> 
        <meta name="author" content=""> 
        <title>MusicVenue - Profile Page</title>         
        <!-- CSS Libraries -->         
        <link rel="stylesheet" href="../res/lib/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="../res/lib/css/video-js.css"> 
        <!-- CSS files -->         
        <link rel="stylesheet" type="text/css" href="css/musicvenue-styles.css" /> 
        <link rel="stylesheet" type="text/css" href="css/general.css" /> 
        <link rel="stylesheet" type="text/css" href="css/profile-styles.css"> 
        <!-- Plug-ins -->         
        <script type="text/javascript" src="../res/lib/masonry.pkgd.min.js"></script>         
        <script type="text/javascript" src="../res/lib/audio.min.js"></script>         
        <script type="text/javascript" src="../res/lib/video.js"></script>         
        <!-- Libraries -->         
        <script src="../res/lib/jquery.min.js"></script>         
        <script src="../res/lib/bootstrap.min.js"></script>         
        <script type="text/javascript" src="../res/lib/angular.min.js"></script>         
        <!-- AngularJS related -->         
        <script type="text/javascript" src="../controllers/app.js"></script>         
    </head>     
    <body ng-app="app" ng-controller="ProfileController as profilemain"> 
        <!-- NavBar start....................................................................................................-->         
        <!-- Fixed navbar -->         
        <div ng-controller="NavBarController as navmain" class="navbar navbar-inverse navbar-fixed-top" role="navigation"> 
            <div class="container"> 
                <div class="navbar-collapse collapse"> 
                    <ul class="nav navbar-nav"> 
                        <li> 
                            <a href="tradespace.html">Tradespace</a> 
                        </li>                         
                        <li> 
                            <a href="businesspage.html">Business</a> 
                        </li>                         
                        <li> 
                            <a href="#"> 
                                <input type="text" placeholder="Search"> 
                            </a>                             
                        </li>                         
                        <li> 
                            <a href="#"> 
                                <button type="button" class="btn btn-sm btn-general">Search</button>                                 
                            </a>                             
                        </li>                         
                        <li>
                            <a href="homepage.html"><span class="app-name-style">MusicVenue</span></a> 
                        </li>                         
                        <li>
                            <a href="event.html">Events</a> 
                        </li>                         
                        <li>
                            <a href="group_page.html">Groups</a> 
                        </li>                         
                        <li class="dropdown"> 
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{navmain.userName}}<b class="caret"></b></a> 
                            <ul class="dropdown-menu"> 
                                <li>
                                    <a href="profile_page.html">Profile</a> 
                                </li>                                 
                                <li>
                                    <a href="settings.html">Settings</a> 
                                </li>                                 
                                <li>
                                    <a ng-click="navmain.logout()">Log Out</a> 
                                </li>                                 
                            </ul>                             
                        </li>                         
                    </ul>                     
                </div>                 
                <!--/.nav-collapse -->                 
            </div>             
        </div>         
        <!-- End of Nav Bar -->         
        <!-- NavBar end.....................................................................................................-->         
        <div class="container-fluid"> 
            <div class="row"> 
                <div class="col-md-6" id="leftPanel"> 
                    <div class="row"> 
                        <div class="col-md-offset-2 col-md-9"> 
                            <a href="#" class="thumbnail"> 
                                <img ng-src="{{profilemain.basicInfo.photo_path}}" alt="" class=""> 
                            </a>                             
                            <h1>{{profilemain.basicInfo.first_name}} {{profilemain.basicInfo.last_name}}</h1> 
                            <button type="button" class="btn btn-block btn-general" ng-if="!profilemain.followingUser && !profilemain.currentUser" ng-click="profilemain.followUser()">Follow musician</button>
                            <button type="button" class="btn btn-block btn-general" ng-if="profilemain.followingUser && !profilemain.currentUser" ng-click="profilemain.unfollowUser()">Un-follow musician</button>                             
                        </div>                         
                    </div>                     
                    <div class="row"> 
                        <div class="col-md-offset-1 col-md-10"> 
                            <h4>General description</h4> 
                            <hr /> 
                        </div>                         
                        <div class="well col-md-offset-1 col-md-10">{{profilemain.basicInfo.about}}</div>                         
                    </div>                     
                    <div class="row"> 
                        <h4>My skills n' stuff</h4> 
                        <div class="well"> 
                            <div class="row tag-list"> 
                                <ul class="list-unstyled" style="margin-top:7px; margin-left:0px;"> 
                                    <li> 
                                        <div class="tag-style" ng-repeat="tag in profilemain.myTagInfo">{{tag.data}}</div>                                         
                                    </li>                                     
                                </ul>                                 
                            </div>                             
                        </div>                         
                    </div>                     
                    <div class="row"> 
                        <h4>Groups involved</h4> 
                        <div class="well"> 
                            <div class="row tag-list"> 
                                <ul class="list-unstyled" style="margin-top:7px; margin-left:0px;"> 
                                    <li> 
                                        <div class="tag-style" ng-repeat="groupTag in profilemain.groupInfo">{{groupTag.name}}</div>                                         
                                    </li>                                     
                                </ul>                                 
                            </div>                             
                        </div>                         
                    </div>                     
                    <div class="row"> 
                        <div class="col-md-4 col-xs-offset-4"> 
                            <h3>Social</h3> 
                        </div>                         
                    </div>                     
                    <div class="row"> 
                        <div class="col-md-12"> 
                            <h2>25 followers</h2> 
                            <div class="well"> 
                                <div class="row tag-list"> 
                                    <ul class="list-unstyled" style="margin-top:7px; margin-left:0px;"> 
                                        <li> 
                                            <div class="tag-style" ng-repeat="followersTag in profilemain.followersInfo">{{followersTag.first_name}} {{followersTag.last_name}}</div>                                             
                                        </li>                                         
                                    </ul>                                     
                                </div>                                 
                            </div>                             
                        </div>                         
                    </div>                     
                    <div class="row"> 
                        <div class="col-md-12"> 
                            <h2>following</h2> 
                            <div class="well"> 
                                <div class="row tag-list"> 
                                    <ul class="list-unstyled" style="margin-top:7px; margin-left:0px;"> 
                                        <li> 
                                            <div class="tag-style" ng-repeat="followingTag in profilemain.followingInfo">{{followingTag.first_name}} {{followingTag.last_name}}</div>                                             
                                        </li>                                         
                                    </ul>                                     
                                </div>                                 
                            </div>                             
                        </div>                         
                    </div>                     
                    <div class="row pg-empty-placeholder"></div>                     
                </div>                 
                <div class="col-md-6" id="rightPanel"> 
                    <div class="row"> 
                        <div class="masonryClassWall" id="masonry"> 
                            <div ng-repeat="uPost in profilemain.posts" ng-switch="uPost.media_type"> 
                                <div class="post" id="post-video" ng-switch-when="0"> 
                                    <div class="container-fluid"> 
                                        <div class="row"> 
                                            <div class="col-md-7"> z
                                                <div class="row post-video-row"> 
                                                    <!-- Video.js  plug-in -->                                                     
                                                    <video id="my-video" class="video-js" controls preload="none" width="300" height="150" poster="MY_VIDEO_POSTER.jpg" data-setup="{}"> 
                                                        <source src="MY_VIDEO.mp4" type='video/mp4'> 
                                                        <source src="MY_VIDEO.webm" type='video/webm'> 
                                                        <p class="vjs-no-js"> 
                                                          To view this video please enable JavaScript, and consider upgrading to a web browser that<a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p> 
                                                    </video>                                                     
                                                </div>                                                 
                                                <div class="row"> 
                                                    <ul class="list-unstyled count-like"> 
                                                        <!-- <li> 
                                                            <p class="like-count">82</p> 
                                                        </li>                                                 
                                                        <li> 
                                                            <button type="button" class="btn btn-default post-button-like"> 
        </button>                                                     
                                                        </li>  -->                                                         
                                                    </ul>                                                     
                                                </div>                                                 
                                            </div>                                             
                                            <div class="col-md-5"> 
                                                <button type="button" class="close post-close-button" aria-hidden="true" id="btnDelVideo" ng-click="profilemain.deletePost(uPost.post_id)" ng-if="uPost.id == profilemain.userID && uPost.isBusinessPost == false">&profilemains;</button>                                                 
                                                <button type="button" class="close post-close-button" aria-hidden="true" id="btnEditVideo" ng-click="profilemain.supplyEditModal(uPost)" ng-if="uPost.id == profilemain.userID && uPost.isBusinessPost == false"> 
                                                    <span class="glyphicon glyphicon-pencil edit-icon"></span> 
                                                </button>                                                 
                                                <div class="row"> 
                                                    <h3 class="post-image-video-title">{{uPost.name}}</h3> 
                                                    <div class="" style="background: #000000; width:90%; height:1px;margin-bottom:8px"></div>                                                     
                                                </div>                                                 
                                                <div class="row"> 
                                                    <p>{{uPost.data}}</p> 
                                                </div>                                                 
                                            </div>                                             
                                        </div>                                         
                                    </div>                                     
                                </div>                                 
                                <div class="post" id="post-image" ng-switch-when="1"> 
                                    <div class="container-fluid"> 
                                        <div class="row"> 
                                            <div class="col-md-7"> 
                                                <div class="row"> 
                                                    <img ng-src="{{uPost.media_path}}" class="img-rounded post-image" width="200" /> 
                                                </div>                                                 
                                                <div class="row"> 
                                                    <ul class="list-unstyled count-like"> 
                                                        <!--  <li> 
                                                            <p class="like-count">15</p> 
                                                        </li>                                                 
                                                        <li> 
                                                            <button type="button" class="btn btn-default post-button-like"> 
        </button>                                                     
                                                        </li> -->                                                         
                                                    </ul>                                                     
                                                </div>                                                 
                                            </div>                                             
                                            <div class="col-md-5"> 
                                                <button type="button" class="close post-close-button" aria-hidden="true" id="btnDelImage" ng-click="profilemain.deletePost(uPost.post_id)" ng-if="uPost.id == profilemain.userID && uPost.isBusinessPost == false">&times;</button>                                                 
                                                <button type="button" class="close post-close-button" aria-hidden="true" id="btnEditVideo" ng-click="profilemain.supplyEditModal(uPost)" ng-if="uPost.id == profilemain.userID && uPost.isBusinessPost == false"> 
                                                    <span class="glyphicon glyphicon-pencil edit-icon"></span> 
                                                </button>                                                 
                                                <div class="row"> 
                                                    <h3 class="post-image-video-title">{{uPost.name}}</h3> 
                                                    <div class="" style="background: #000000; width:90%; height:1px;margin-bottom:8px"></div>                                                     
                                                </div>                                                 
                                                <div class="row"> 
                                                    <p>{{uPost.data}}</p> 
                                                </div>                                                 
                                            </div>                                             
                                        </div>                                         
                                    </div>                                     
                                </div>                                 
                                <div class="post" id="post-text" ng-switch-when="2"> 
                                    <div class="container-fluid"> 
                                        <button type="button" class="close post-close-button" aria-hidden="true" id="btnDelText" ng-click="profilemain.deletePost(uPost.post_id)" ng-if="uPost.id == profilemain.userID && uPost.isBusinessPost == false">&times;</button>                                         
                                        <button type="button" class="close post-close-button" aria-hidden="true" id="btnEditVideo" ng-click="profilemain.supplyEditModal(uPost)" ng-if="uPost.id == profilemain.userID && uPost.isBusinessPost == false"> 
                                            <span class="glyphicon glyphicon-pencil edit-icon"></span> 
                                        </button>                                         
                                        <div class="row"> 
                                            <h3 class="post-title-text">{{uPost.name}}</h3> 
                                        </div>                                         
                                        <div class="row"> 
                                            <div class="post-line-break-text"></div>                                             
                                        </div>                                         
                                        <div class="row"> 
                                            <div class="well post-description-text">{{uPost.data}}</div>                                             
                                        </div>                                         
                                        <div class="row"> 
                                            <ul class="list-unstyled count-like"> 
                                                <!-- <li> 
                                                    <p class="like-count">25</p> 
                                                </li>                                         
                                                <li> 
                                                    <button type="button" class="btn btn-default post-button-like"> 
        </button>                                             
                                                </li>  -->                                                 
                                            </ul>                                             
                                        </div>                                         
                                    </div>                                     
                                </div>                                 
                                <div class="post" id="post-audio" ng-switch-when="3"> 
                                    <div class="container-fluid"> 
                                        <button type="button" class="close post-close-button" aria-hidden="true" id="btnDelAudio" ng-click="profilemain.deletePost(uPost.post_id)" ng-if="uPost.id == profilemain.userID && uPost.isBusinessPost == false">&times;</button>                                         
                                        <button type="button" class="close post-close-button" aria-hidden="true" id="btnEditVideo" ng-click="profilemain.supplyEditModal(uPost)" ng-if="uPost.id == profilemain.userID && uPost.isBusinessPost == false"> 
                                            <span class="glyphicon glyphicon-pencil edit-icon"></span> 
                                        </button>                                         
                                        <div class="row"> 
                                            <div class="col-md-8"> 
                                                <div class="well post-description-audio">{{uPost.data}}</div>                                                 
                                            </div>                                             
                                            <div class="col-md-4"> 
                                                <h3 class="post-image-video-title">{{uPost.name}}</h3> 
                                            </div>                                             
                                        </div>                                         
                                        <div class="row post-audio-row"> 
                                            <!-- audio.js  plug-in -->                                             
                                            <audio ng-src="{{uPost.media_path}}" preload="none"> 
</audio>                                             
                                        </div>                                         
                                        <div class="row"> 
                                            <!-- <ul class="list-unstyled count-like"> 
                                                <li> 
                                                    <p class="like-count">8</p> 
                                                </li>                                         
                                                <li> 
                                                    <button type="button" class="btn btn-default post-button-like"> 
        </button>                                             
                                                </li>                                         
                                            </ul> -->                                             
                                        </div>                                         
                                    </div>                                     
                                </div>                                 
                            </div>                             
                        </div>                         
                    </div>                     
                </div>                 
            </div>             
        </div>         
        <!-- Controllers -->         
        <script type="text/javascript" src="../controllers/profilepage.ctrl.js"></script>         
        <script type="text/javascript" src="../controllers/navbar.ctrl.js"></script>         
    </body>     
</html>
