<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MusicVenue</title>
    <meta name="viewport" content="width-device-width, initial-scale=.3">

    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="css/general.css"/>
    <!-- CSS for plugins/libraries -->
    <link rel ="stylesheet" href ="../res/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../res/lib/css/video-js.css" />
    <link rel="stylesheet" type="text/css" href="css/upload-form-homepage.css" />
    <!--Custom Style-->
    <link rel="stylesheet" type="text/css" href="css/settings.css"/>
    <link href ="css/event-styles.css" rel ="stylesheet">
    <link href ="css/musicvenue-styles.css" rel ="stylesheet">
    <link href ="css/event-new-styles.css" rel ="stylesheet">
    <!-- Libraries -->

    <script type="text/javascript" src="../res/lib/angular.min.js"></script>

    <script type="text/javascript" src="../res/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../res/lib/bootstrap.min.js"></script>

     <!-- AngularJS related -->
    <script type="text/javascript" src="../controllers/app.js"></script>

</head>
<body  ng-app="app" ng-controller="RegisterControl as main">

<div class="ne-container container-fluid cover inner" >

    <div class="container">
      <!--<div ng-repeat="user in main.uusers">{{user.first_name}}</div>-->
        <!--<div> <input ng-model="inputname" ng-keyup="main.add($event)"></div>-->

        <!--ng-keyup cuando le des enter-->

        <div class="grid">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">

                        <h1>Register</h1>
                    </div>

                </div>
                <div class="col-md-12">

                    <hr>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <form role="form">
                            <div class="form-group">
                                <label for="firstname"> First Name</label>
                                <input ng-model="main.first_name" class="form-control" id="firstname" type="text">
                                <hr/>
                            </div>
                            <div class="form-group">
                                <label for="lastname">Last Name</label>
                                <input ng-model="main.last_name" class="form-control" id="lastname" type="text"  >
                                <hr/>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input ng-model="main.email"class="form-control" id="email" type="text" >
                                <hr/>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input ng-model="main.password" class="form-control" id="password" type="password">
                                <hr/>
                            </div>
                            <div class="form-group">
                                <label for="repassword">Re-enter Password</label>
                                <input ng-model="main.repassword"class="form-control" id="repassword" type="password" >
                                <hr/>
                            </div>




                        </form>
                        <hr>
                        <div class="row">

                            <div class="col-xs-3">
                                <button type="button" class="btn btn-general" ng-click="main.register()">Register </button>


                            </div>


                            <div class="col-xs-3">
                                <button type="button" class="btn btn-general" ng-click="main.cancel()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6" >
                <form id="upload" method="post" action="upload.php" enctype="multipart/form-data">
                    <div id="drop">
                        Drop Here A Photo

                        <a>Browse</a>
                        <input type="file" name="upl" multiple />
                    </div>

                    <ul>
                        <!-- The file uploads will be shown here -->
                    </ul>

                </form>
            </div>
        </div>

        </div>
</div>


            <!-- JavaScript Includes -->
            <script src="../res/lib/upload_form/jquery.knob.js"></script>

            <!-- Upload Form plugin -->
            <script src="../res/lib/upload_form/jquery.ui.widget.js"></script>
            <script src="../res/lib/upload_form/jquery.iframe-transport.js"></script>
            <script src="../res/lib/upload_form/jquery.fileupload.js"></script>
            <script src="../res/lib/upload_form/upload-form.js"></script>

            <!--Register page js file-->
            <script type="text/javascript" src="../controllers/register.ctrl.js"></script>


</body>
</html>