<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MusicVenue - Settings</title>
    <link rel="stylesheet" href="../res/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/general.css"/>
    <!--Custom Style-->
    <link rel="stylesheet" type="text/css" href="css/settings.css"/>
    <!-- Libraries -->
    <script src="../res/lib/jquery.min.js"></script>
    <script src="../res/lib/bootstrap.min.js"></script>
</head>

<body ng-app="app" ng-controller="SettingsController as smain">
   <!-- NavBar start....................................................................................................-->

    <!-- Fixed navbar -->
    <div ng-controller="NavBarController as navmain" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="tradespace.html">Tradespace</a>
                    </li>
                    <li>
                        <a href="businesspage.html">Business</a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="text" placeholder="Search">
                        </a>

                    </li>
                    <li>
                        <a href="#">
                            <button type="button" class="btn btn-sm btn-general">Search</button>
                        </a>
                    </li>
                    <li><a href="homepage.html"><span class="app-name-style">MusicVenue</span></a>
                    </li>
                    <li><a href="event.html">Events</a>
                    </li>
                    <li><a href="group_page.html">Groups</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{navmain.userName}}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="profile_page.html">Profile</a>
                            </li>
                            <li><a href="settings.html">Settings</a>
                            </li>
                            <li><a ng-click="navmain.logout()">Log Out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <!-- End of Nav Bar -->

    <!-- NavBar end.....................................................................................................-->

    <div class="container theme-showcase">
        <div class="jumbotron">
            <h1>Hey, subscriber!</h1>
            Here in MusicVenue we strive to connect musicians by opening up a virtual world full of possibilities. Our mission is to provide an innovative experience in order to let your creative juices flow. Thanks for joining us!
            <p></p>
            <p>XOXO, The CoffeeSquad</p>

        </div>

        <!--Start of Settings Components-->
        <div>
            <div class="page-header">
                <h1>Settings</h1>
            </div>

            <!--ACCOUNT-->
            <div class="panel panel-general">
                <div class="panel-heading">
                    <h3 class="panel-title">Account</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class=".col-md-8">
                            <ul class="list-group">
                                <li class="list-group-item">Edit Profile Picture
                                    <input type="email" value="">
                                    <button type="button" class="btn btn-sm btn-general">Upload</button>
                                    <button type="button" class="btn btn-sm btn-general">Remove</button>
                                </li>
                                <li class="list-group-item">Edit Name
                                    <input type="text" value="Nina">
                                    <input type="text" value="Belafonte">
                                    <button="" class="btn btn-sm btn-general">Save
                                    </button="">
                                </li>
                                <li class="list-group-item">Reset Password
                                    <input type="password" placeholder="New Password">
                                    <button type="button" class="btn btn-sm btn-general">Save</button>
                                </li>
                                <li class="list-group-item">Change E-Mail Address
                                    <input type="email" placeholder="nina.b@hotmail.com">
                                    <button type="button" class="btn btn-sm btn-general">Save</button>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <!--ABOUT ME-->
            <div class="panel panel-general">
                <div class="panel-heading">
                    <h3 class="panel-title">About Me</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class=".col-md-8">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <input type="email" value="Hi! The name's Nina. Been living in New York City since 2013. I play the guitar and the violin, hopefully learning to play the piano soon. Would love to chat with others from the area to form a nice jamming session, contact me if you wish ;)">
                                    <button type="button" class="btn btn-sm btn-general">Save</button>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <!--MY TAGS-->
            <div class="panel panel-general">
                <div class="panel-heading">
                    <h3 class="panel-title">My Tags</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class=".col-md-8">
                            <ul class="list-group">
                                <li class="list-group-item">Tags:
                                    <input type="email" placeholder="guitar, piano ...">
                                    <button type="button" class="btn btn-sm btn-general">Add</button>
                                </li>
                                <li class="list-group-item">Guitar
                                    <button type="button" class="btn btn-sm btn-general">Remove</button>
                                </li>
                                <li class="list-group-item">Violin
                                    <button type="button" class="btn btn-sm btn-general">Remove</button>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <!--CHATS-->
            <div class="panel panel-general">
                <div class="panel-heading">
                    <h3 class="panel-title">Chats</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class=".col-md-8">
                            <ul class="list-group">
                                <li class="list-group-item">Mandingo Rivera
                                    <button type="button" class="btn btn-sm btn-general">Remove</button>
                                </li>
                                <li class="list-group-item">Anacleta del Valle
                                    <button type="button" class="btn btn-sm btn-general">Remove</button>
                                </li>
                                <li class="list-group-item">Valeria García
                                    <button type="button" class="btn btn-sm btn-general">Remove</button>
                                </li>
                                <li class="list-group-item">
                                    <button type="button" class="btn btn-sm btn-general">Add New Chat</button>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <!--BUSINESS-->
            <div class="panel panel-general">
                <div class="panel-heading">
                    <h3 class="panel-title">Business</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class=".col-md-8">
                            <ul class="list-group">
                                <li class="list-group-item">The Lonely Guitar Music Store
                                    <button type="button" class="btn btn-sm btn-general">Remove</button>
                                </li>
                                <li class="list-group-item">Mecca Incorporated Label
                                    <button type="button" class="btn btn-sm btn-general">Remove</button>
                                </li>
                                <li class="list-group-item">
                                    <button type="button" class="btn btn-sm btn-general">Add New Business</button>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <!--GROUPS-->
            <div class="panel panel-general">
                <div class="panel-heading">
                    <h3 class="panel-title">Groups</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class=".col-md-8">
                            <ul class="list-group">
                                <li class="list-group-item">The CoffeeSquad
                                    <button type="button" class="btn btn-sm btn-general">Remove</button>
                                </li>
                                <li class="list-group-item">Metalheads
                                    <button type="button" class="btn btn-sm btn-general">Remove</button>
                                </li>
                                <li class="list-group-item">
                                    <button type="button" class="btn btn-sm btn-general">Add New Group</button>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!-- /container -->

        <!-- Controllers -->
        <script type="text/javascript" src="../controllers/navbar.ctrl.js"></script>
        <script type="text/javascript" src="../controllers/settings.ctrl.js"></script>
    </div>
</body>
