body, html {

    background:#61243C;
    background-repeat: no-repeat;
    padding-top:50px;

}


.business-container{

    background:#DDDDDD;
    text-align-all: center;

    border-radius: 10px;

}

.inner {
    display: table;
    margin: 0 auto;
}

.cover {
    width: 42px; /* I took the width from your post and placed it in css */
    height: 42px;
}

/* This will style any <img> element in .parent div */
.cover img {
    height: 100%;
    width: 100%;
}
