<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="utf-8">         
        <meta http-equiv="X-UA-Compatible" content="IE=edge">         
        <meta name="viewport" content="width=device-width, initial-scale=1.0">         
        <meta name="description" content="">         
        <meta name="author" content="">         
        <title>MusicVenue - Group Page</title>         
        <!-- CSS files -->         
        <link rel="stylesheet" type="text/css" href="css/musicvenue-styles.css" /> 
        <link href="css/group-profile-styles.css" rel="stylesheet" type="text/css">         
        <link href="../res/lib/css/bootstrap.min.css" rel="stylesheet">         
    </head>     
    <body> 
        <div class="container-fluid"> 
            <div class="row"> 
                <div class="col-md-6" id="leftPanel">
                    <div class="containter-fluid"></div>                     
                </div>                 
                <div class="col-md-6" id="rightPanel">
                    <div class="pg-empty-placeholder containter-fluid"></div>                     
                </div>                 
            </div>             
        </div>         
        <!-- Placed at the end of the document so the pages load faster -->         
        <script src="../controllers/grouppage-logic.js"></script>         
        <!-- Libraries -->         
        <script type="text/javascript" src="../res/lib/jquery.min.js"></script>         
        <script type="text/javascript" src="../res/lib/bootstrap.min.js"></script>         
        <script type="text/javascript" src="../res/lib/angular.min.js"></script>         
        <!-- Plug-ins -->         
        <script type="text/javascript" src="../res/lib/masonry.pkgd.min.js"></script>         
        <script type="text/javascript" src="../res/lib/audio.min.js"></script>         
        <!-- AngularJS related -->         
        <script type="text/javascript" src="../controllers/app.js"></script>         
    </body>     
</html>
